parameters:
    paths:
        - src
        - tests
    excludePaths:
        - tests/*/data/*
    bootstrapFiles:
        - vendor/squizlabs/php_codesniffer/autoload.php
        - vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
    level: max
